{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <div class="container text-start">
        <div class="row row-cols-1">
            <div class="col">
                <form col-4 method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
      </div>
{% endblock %}
